<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663342490407-2863t00clrq463f37g895joq9t7mj51j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663342490407-2863t00clrq463f37g895joq9t7mj51j</string>
	<key>API_KEY</key>
	<string>AIzaSyCV4PqF9NqQ1EjRDoZzCfEerBmAdCKovKI</string>
	<key>GCM_SENDER_ID</key>
	<string>663342490407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medswift</string>
	<key>PROJECT_ID</key>
	<string>medswift-c07b7</string>
	<key>STORAGE_BUCKET</key>
	<string>medswift-c07b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663342490407:ios:58d57cd74c479649827f02</string>
</dict>
</plist>